
li {
    text-align: start;
}

html,
body {
    margin: 0;
    padding: 0;
}


.divAtributos{
    display: flex;
    border-style:double;
    flex-direction: column;
    align-items: center;

    margin: 25px;
    border-radius: 30px;
}


.contenedor {
    border: 7px solid;
    text-align: center;
    margin: 30px;
    border-radius: 30px;
    border-style:double;
    background-color: white;

}


.encabezado {
    background-color: darkblue
}

.textomarca {

    padding: 20px;
    color: white;
}

.nombreimpresora {
    text-align: center;
    margin: 50px;
}

.imagenimpresora {
    width: 35%;
}